<?py from __future__ import with_statement ?>
<?py with capture_as('css'): ?>

<script src="${BASE_URL}/static/xheditor-1.2.1/xheditor-1.2.1.min.js"></script>
<script type="text/javascript" src="${BASE_URL}/static/xheditor-1.2.1/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript" src="${BASE_URL}/static/xheditor-1.2.1/xheditor_plugins/showdown.js"></script>
<script type="text/javascript" src="${BASE_URL}/static/xheditor-1.2.1/xheditor_plugins/htmldomparser.js"></script>
<script type="text/javascript" src="${BASE_URL}/static/xheditor-1.2.1/xheditor_plugins/html2markdown.js"></script>
<style type="text/css">
	.btnMap {
		width:50px !important;
		background:transparent url(${BASE_URL}/static/xheditor-1.2.1/googlemap/map.gif) no-repeat center center;
	}
	.btnCode {
		background:transparent url(${BASE_URL}/static/xheditor-1.2.1/prettify/code.gif) no-repeat 16px 16px;
		background-position:2px 2px;
	}
</style>

<?py #endwith ?>

<form class="span12" method="post">
	<label>title</label>
	<input type="text" name="title" placeholder="Title..." class="span12">
	<label>title</label>
	<textarea id="content" name="content"   rows="30" cols="80" placeholder="Title..." class="span12"></textarea>
	<div></div>

	<button type="submit" class="btn">
		Submit
	</button>

</form>

<script type="text/javascript">	


var markdownCSS = '';

	var markdownConverter = new Showdown.converter();
	function Md2HTML(md) {
		return markdownConverter.makeHtml(md);
	}

	function HTML2Md(html) {
		if(!html){html="  ";}
		var md = HTML2Markdown(html);
		md = md.replace(/&(lt|gt|amp|quot);/ig, function(all, t) {
			return {'lt':'<','gt':'>','amp':'&','quot':'"'}[t.toLowerCase()];
		});
		return md;
	}

	var plugins = {
		Code : {
			c : 'btnCode',
			t : '插入代码',
			h : 1,
			e : function() {
				var _this = this;
				var htmlCode = '<div><textarea id="xheCodeValue" wrap="soft" spellcheck="false" style="width:300px;height:100px;" /></div><div style="text-align:right;"><input type="button" id="xheSave" value="确定" /></div>';
				var jCode = $(htmlCode), jValue = $('#xheCodeValue', jCode), jSave = $('#xheSave', jCode);
				jSave.click(function() {
					_this.loadBookmark();
					_this.pasteHTML('<pre>' + _this.domEncode(jValue.val()) + '</pre>');
					_this.hidePanel();
					return false;
				});
				_this.saveBookmark();
				_this.showDialog(jCode);
			}
		},
		map : {
			c : 'btnMap',
			t : '插入Google地图',
			e : function() {
				var _this = this;
				_this.saveBookmark();
				_this.showIframeModal('Google 地图', '${BASE_URL}/static/xheditor-1.2.1/googlemap/googlemap.html', function(v) {
					_this.loadBookmark();
					_this.pasteHTML('<img src="' + v + '" />');
				}, 538, 404);
			}
		}
	};

	$(function() {
		$('#content').xheditor({
			'tools' : 'Cut,Copy,Paste,Pastetext,|,Blocktag,FontSize,Bold,Italic,SelectAll,Removeformat,|,List,Outdent,Indent,|,Link,Unlink,Img,Hr,Emot,Code,map,|,Source,Print,Fullscreen',
			'listBlocktag' : [{
				n : 'h1'
			}, {
				n : 'h2'
			}, {
				n : 'h3'
			}, {
				n : 'h4'
			}, {
				n : 'h5'
			}, {
				n : 'h6'
			}],
			'plugins' : plugins,
			'beforeSetSource' : Md2HTML,
			'beforeGetSource' : HTML2Md,
			'loadCSS' : markdownCSS,
			skin : 'nostyle',
			upImgUrl : "/upload",
			upImgExt : "jpg,jpeg,gif,png"
		});
	});

</script>