<?py from __future__ import with_statement ?>
<?py with capture_as('css'): ?>
<link href="${BASE_URL}/static/css/dashboard.css" rel="stylesheet">
<?py #endwith ?>

<div class="col col_7">
	<div class="onerow dashboard_left"  >
		<div class="col2">
			<div class="header">
				<img src="/static/images/0.jpg"  class="img_header rounded6 img_shadow"/>
			</div>
		</div>
		<div class="col10">
			<div class="bubble right">
				<div class="arrow"></div>
				<div class="bubble_title">
					<div class="title_right">
						<div class="title">
							标题内容
						</div>
						<div class="author">
							@李开复
						</div>
					</div>
					<div class="title_left">

						<div class="day">
							8日
						</div>
					</div>
					<div class="title_center">
						<div class="month">
							7月
						</div>
						<div class="week">
							星期六
						</div>
					</div>

				</div>
				<div class="bubble_content">
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="header">
				2013年7月
				2013年7月
				2013年7月
				2013年7月
				2013年7月
				2013年7月
			</div>
		</div>
		<div class="col10">
			<div class="bubble right">
				<div class="arrow"></div>
				<h3 class="bubble_title">
				<div class="title_right">
					<div class="title">
						标题内容
					</div>
					<div class="author">
						@李开复
					</div>
				</div>
				<div class="title_left">

					<div class="day">
						8日
					</div>
				</div>
				<div class="title_center">
					<div class="month">
						7月
					</div>
					<div class="week">
						星期六
					</div>
				</div></h3>
				<div class="bubble_content">
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="stage">
		7月
	</div>
	<div class="dashboard">
		<div class="header">
			<div >
				2013年7月
			</div>
		</div>

		<div class="bubble ">
			<div class="arrow"></div>
			<div class="bubble_title">
				bubble right
			</div>
			<div class="bubble_content">
				<p>
					Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
				</p>
			</div>
		</div>
		<div class="bubble  ">
			<div class="arrow"></div>
			<h3 class="bubble_title">bubble right</h3>
			<div class="bubble_content">
				<p>
					Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
				</p>
				<p>
					Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
				</p>
				<p>
					Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col col_3" >
	<div  class="dashboard_right">
		7月
	</div>
</div>
