<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html;">
		<title>JQuery Tweet Feed Plugin - Quickstart Guide</title>
		<link href="${BASE_URL}/static/css/timeline.css" rel="stylesheet">
		<style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .container {
                width: 80%;
                max-width: 960px;
            }
		</style>
	</head>
	<body>

		<div style="width: 400px;" class="tl-list-container-wrapper">
			<div class="tl-list-container">
				<div class="tl-item-container tl-non-fixed ">

					<a href="http://www.twitter.com/dailydot/status/350451010705178625" target="_blank">
					<div class=" tl-item-content-container tl-unbound shadow" data-item-id="350451010705178625" data-username="dailydot">
						<div class="tl-triangle-background"></div>
						<div class="tl-triangle"></div>
						<div class="tl-author-name-container">
							<span class="tl-author-name"><span class="tl-at-sign">@</span>dailydot</span>
						</div>
						<div class="tl-date-container">
							<span class="tl-day-of-month">28日</span>
							<span class="tl-month">7月</span>
							<span class="tl-day">星期五</span>
						</div>
						<div class="tl-item-content">
							<div class="tl-content">
								This is the first image that comes up on Google when you search for Tameside Hospital: http://dly.do/13blbmq&nbsp;
							</div>
						</div>
					</div> </a>

				</div>
			</div>
		</div>
		<!-- Main hero unit for a primary marketing message or call to action -->

		<div style="width: 400px;" class="tl-list-container-wrapper">
			<div class="tl-list-container">
				<div class="tl-item-container tl-non-fixed ">
					<div class="tl-time-bar"></div>
					<a href="http://www.twitter.com/dailydot" rel="nofollow" target="_blank">
					<div class="tl-author-container">
						<div class="tl-author-img-container" style="background-image: url(https://si0.twimg.com/profile_images/3733451393/a7a1637afd8735fc1fcc9c0585c5d60e_normal.gif);"></div>
					</div> </a>
					<a href="http://www.twitter.com/dailydot/status/350451010705178625" target="_blank">
					<div class=" tl-item-content-container tl-unbound " data-item-id="350451010705178625" data-username="dailydot">
						<div class="tl-triangle-background"></div>
						<div class="tl-triangle"></div>
						<div class="tl-author-name-container">
							<span class="tl-author-name"><span class="tl-at-sign">@</span>dailydot</span>
						</div>
						<div class="tl-date-container">
							<span class="tl-day-of-month">28日</span>
							<span class="tl-month">7月</span>
							<span class="tl-day">星期五</span>
						</div>
						<div class="tl-item-content">
							<div class="tl-content">
								This is the first image that comes up on Google when you search for Tameside Hospital: http://dly.do/13blbmq&nbsp;
							</div>
						</div>
					</div> </a>

				</div>
				<div class="tl-item-container tl-non-fixed">
					<div class="tl-time-bar"></div>
					<a href="http://www.twitter.com/AKB_gplus" rel="nofollow" target="_blank">
					<div class="tl-author-container">
						<div class="tl-author-img-container" style="background-image: url(https://si0.twimg.com/profile_images/1682936179/akbg__normal.png);"></div>
					</div> </a>
					<a href="http://www.twitter.com/AKB_gplus/status/350450768345702400" target="_blank">
					<div class="tl-item-content-container tl-unbound " data-item-id="350450768345702400" data-username="AKB_gplus">
						<div class="tl-triangle-background"></div>
						<div class="tl-triangle"></div>
						<div class="tl-author-name-container">
							<span class="tl-author-name"><span class="tl-at-sign">@</span>AKB_gplus</span>
						</div>
						<div class="tl-date-container">
							<span class="tl-day-of-month">28</span>
							<span class="tl-month">june</span>
							<span class="tl-day">fri</span>
						</div>
						<div class="tl-item-content">
							<div class="tl-content">
								[&#27494;&#34276;&#21313;&#22818;] &#12369;&#12356;&#12387;&#12385;&#12373;&#12435;&#12364;&#31169;&#12398;&#12371;&#12392;&#12479;&#12452;&#12503;&#12387;&#12390;&#35328;&#12387;&#12390;&#12367;&#12428;&#12383;&#65374;&#65340;(^o^)&#65295;&#65281;&#65281; &#23305;&#12375;&#12356;&#12540;( ^^ )&#9834; &#12369;&#12356;&#12387;&#12385;&#12373;&#12435;&#26412;&#24403;&#12395;&#12365;&#12428;&#12356;&#12384;&#12394;&#12354;&#9734;&#9734; &#19978;&#35199;&#24693; origina http://dlvr.it/3ZkgXk&nbsp; #akb
							</div>
						</div>
					</div> </a>
				</div>
				<div class="tl-item-container tl-non-fixed">
					<div class="tl-time-bar"></div>
					<a href="http://www.twitter.com/abc_es" rel="nofollow" target="_blank">
					<div class="tl-author-container">
						<div class="tl-author-img-container" style="background-image: url(https://si0.twimg.com/profile_images/3077228181/efe55f751d322e6fe652327281816880_normal.jpeg);"></div>
					</div> </a>
					<a href="http://www.twitter.com/abc_es/status/350450523540963329" target="_blank">
					<div class="tl-item-content-container tl-unbound" data-item-id="350450523540963329" data-username="abc_es">
						<div class="tl-triangle-background"></div>
						<div class="tl-triangle"></div>
						<div class="tl-author-name-container">
							<span class="tl-author-name"><span class="tl-at-sign">@</span>abc_es</span>
						</div>
						<div class="tl-date-container">
							<span class="tl-day-of-month">28</span>
							<span class="tl-month">june</span>
							<span class="tl-day">fri</span>
						</div>
						<div class="tl-item-content">
							<div class="tl-content">
								Los ricos 玹uitean?desde el iPhone, las clases medias desde Android http://w.abc.es/dlq9g6&nbsp;
							</div>
						</div>
					</div> </a>
				</div>
				<div class="tl-item-container tl-non-fixed">
					<div class="tl-time-bar"></div>
					<a href="http://www.twitter.com/nojiri_h" rel="nofollow" target="_blank">
					<div class="tl-author-container">
						<div class="tl-author-img-container" style="background-image: url(https://si0.twimg.com/profile_images/1266786320/_______normal.jpg);"></div>
					</div> </a>
					<a href="http://www.twitter.com/nojiri_h/status/350449932374777857" target="_blank">
					<div class="tl-item-content-container tl-unbound" data-item-id="350449932374777857" data-username="nojiri_h">
						<div class="tl-triangle-background"></div>
						<div class="tl-triangle"></div>
						<div class="tl-author-name-container">
							<span class="tl-author-name"><span class="tl-at-sign">@</span>nojiri_h</span>
						</div>
						<div class="tl-date-container">
							<span class="tl-day-of-month">28</span>
							<span class="tl-month">june</span>
							<span class="tl-day">fri</span>
						</div>
						<div class="tl-item-content">
							<div class="tl-content">
								&#12411;&#12540;&#12290;&#12418;&#12375;&#12371;&#12428;&#12391;&#12454;&#12490;&#12462;&#12398;&#20195;&#29992;&#12395;&#12394;&#12427;&#12394;&#12425;&#22823;&#21916;&#12403;&#12384;&#12394;&#12354;&#12290;
								RT @one_cosoba: &#12385;&#12367;&#12431;&#12398;&#33970;&#28988;&#12365; - Google &#26908;&#32034;
								https://www.google.co.jp/search?q=%E3%81%A1%E3%81%8F%E3%82%8F%E3%81%AE%E8%92%B2%E7%84%BC%E3%81%8D&amp;um=1&amp;ie=UTF-8&amp;hl=ja&amp;tbm=isch&amp;source=og&amp;sa=N&amp;tab=wi&amp;ei=RPrMUej9FY3KkwXtuYDABA&amp;biw=1194&amp;bih=778&amp;sei=SvrMUd_YEYPBkAWG1IDADA&nbsp;?/div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>

	</body>
</html>