<?py from __future__ import with_statement ?>
<?py with capture_as('css'): ?>
<link href="${BASE_URL}/static/css/timeline2.css" rel="stylesheet">

<?py #endwith ?>
<div class="grid_row">
	<div class="col col_12">
		<div class="stage">
			2013年7月
		</div>
		<div class="timeline" style="border: 1px 1px red;">
			<div class="time_bar"></div>

			<div class="bubble right">
				<div class="arrow"></div>
				<div class="bubble_title">
					<div class="title_right">
						<div class="title">
							标题内容
						</div>
						<div class="author">
							@李开复
						</div>
					</div>
					<div class="title_left">

						<div class="day">
							8日
						</div>
					</div>
					<div class="title_center">
						<div class="month">
							7月
						</div>
						<div class="week">
							星期六
						</div>
					</div>

				</div>
				<div class="bubble_content">
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
				</div>
			</div>
			<div class="bubble right">
				<div class="arrow"></div>
				<h3 class="bubble_title">
				<div class="title_right">
					<div class="title">
						标题内容
					</div>
					<div class="author">
						@李开复
					</div>
				</div>
				<div class="title_left">

					<div class="day">
						8日
					</div>
				</div>
				<div class="title_center">
					<div class="month">
						7月
					</div>
					<div class="week">
						星期六
					</div>
				</div></h3>
				<div class="bubble_content">
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
				</div>
			</div>
		</div>
		<div class="stage">
			7月
		</div>
		<div class="timeline">
			<div class="time_bar"></div>

			<div class="bubble right">
				<div class="arrow"></div>
				<div class="bubble_title">
					bubble right
				</div>
				<div class="bubble_content">
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
				</div>
			</div>
			<div class="bubble right">
				<div class="arrow"></div>
				<h3 class="bubble_title">bubble right</h3>
				<div class="bubble_content">
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
					<p>
						Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col col_14"></div>
</div>
<div class="clearfix"></div>

