@CHARSET "UTF-8";
/*
 commons
 */
body {
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    color: #00afe9;
    text-decoration: none;
}

.transform {
    margin-top: 40px;
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.hr1 {
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 0px;
    border-bottom: 1px solid #ddd;
}

.hr2 {
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 0px;
    border-bottom: 2px solid #ddd;
}

footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    display: block;
}

footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

/*
 */
.line1 {
    height: 1px;
    max-height: 1px;
}

.line2 {
    height: 2px;
    max-height: 2px;
}

.line3 {
    height: 3px;
    max-height: 3px;
}

.line4 {
    height: 4px;
    max-height: 4px;
}

.line5 {
    height: 5px;
    max-height: 5px;
}

.line6 {
    height: 6px;
    max-height: 6px;
}

.line7 {
    height: 7px;
    max-height: 7px;
}

.line8 {
    height: 8px;
    max-height: 8px;
}

.line9 {
    height: 9px;
    max-height: 9px;
}

.line10 {
    height: 10px;
    max-height: 10px;
}

.stat {
    background-color: #F5F5F5;
}

.border-left {
    border-left: solid 1px #ddd;
}

.border-bottom {
    border-bottom: solid 1px #ddd;
}

.left6 {
    margin-left: 6px;
    *margin-left: 6px;
}

.card {
    padding: 0px;
    margin: 0px;
    max-height: 200px;
    min-height: 30px;
}

.rounded3, .rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.rounded4 {

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.rounded5 {

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.rounded6 {

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.shadow {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.img_shadow {
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
}

.filled {
    background: #f6f6f6;
    padding: 10px;
    margin: 0 0 20px 0
}

.bottom {
    border-top: 1px solid #CCCCCC;
}

.title_border {
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

.logo {
    font-size: 36px;
    font-family: Broadway, "Arial Unicode MS";
    padding: 10px 30px 10px 0px;
}

.nav_bar {
    width: 200px;
    max-width: 200px;
    height: 100%;
    z-index: 0;
}


.content_container {
    padding-right: 40px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}

.content_container:before,
.content_container:after {
    display: table;
    content: " ";
}

.content_container:after {
    clear: both;
}

.content_container:before,
.content_container:after {
    display: table;
    content: " ";
}

.content_container:after {
    clear: both;
}
.sideNavBar ul {
    list-style: none;
    margin: 0;

}

.sideNavBar a {
    text-align: right;
}

.sideNavBar ul>li {
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 6px 14px 6px 14px;
    margin: 0
}

.sideNavBar ul>li .menuText {
    display: inline-block
}

.sideNavBar ul.subSide {
    padding: 5px 0px 5px 0px;
    display: none
}

.sideNavBar ul.subSide li {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 5px;
    padding: 4px 10px 5px 14px;
    margin-left: 10px
}

