@charset "utf-8";

.grid_row {
	width: 900px;
	margin: 0 auto;
	z-index: -1000;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
	display: table;
}
.grid_row .grid_row {
	margin: 0 -10px;
	width: auto;
}
.grid_row:before, .grid_row:after {
	display: table;
	content: "";
	margin: 0 -10px;
}
.grid_row:after {
	clear: both;
}

.col {
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
	float: left;
	position: relative;
}
.col_right {
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
	float: right;
	position: relative;
}

/* Column widths, and element width based on grid */
.col_1, .width_1 {
	width: 70px;
}
.col_2, .width_2 {
	width: 160px;
}
.col_3, .width_3 {
	width: 250px;
}
.col_4, .width_4 {
	width: 340px;
}
.col_5, .width_5 {
	width: 430px;
}
.col_6, .width_6 {
	width: 520px;
}
.col_7, .width_7 {
	width: 610px;
}
.col_8, .width_8 {
	width: 700px;
}
.col_9, .width_9 {
	width: 790px;
}
.col_10, .width_10 {
	width: 880px;
}
