<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>`get title`</title>
		<link rel="stylesheet" href="${BASE_URL}/static/52framework/css/reset.css" type="text/css"  />
		<link rel="stylesheet" href="${BASE_URL}/static/52framework/css/css3.css"  type="text/css" media="screen" />
		<link rel="stylesheet" href="${BASE_URL}/static/52framework/css/general.css"  type="text/css" media="screen" />
		<link rel="stylesheet" href="${BASE_URL}/static/52framework/css/grid1200.css" type="text/css" />

		<link rel="stylesheet" href="${BASE_URL}/static/basic/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="${BASE_URL}/static/52framework/css/wb3.css" type="text/css" />
		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="${BASE_URL}/static/52framework/js/selectivizr.js"></script>
		<![endif]-->
		<script src="${BASE_URL}/static/js/jquery-1.10.1.js"></script>
		<script src="${BASE_URL}/static/js/jquery-migrate-1.2.1.js"></script>
		<script src="${BASE_URL}/static/52framework/js/modernizr-1.7.min.js"></script><!-- this is the javascript allowing html5 to run in older browsers -->
		<script src="${BASE_URL}/static/js/jquery-1.10.1.js"></script>
		<script src="${BASE_URL}/static/js/jquery-migrate-1.2.1.js"></script>
		<script src="${BASE_URL}/static/basic/js/bootstrap.js"></script>
	</head>



	<body>

		<div class="navbar navbar-inverse" >
			<div class="navbar-inner">
				<div class="row ">
					<div class="col  col_16">
						<a class="brand" href="#">时间</a>
						<div class="nav-collapse collapse navbar-inverse-collapse">
							<ul class="nav">
								<li class="active">
									<a href="#">照片</a>
								</li>
								<li>
									<a href="#">博客</a>
								</li>
								<li>
									<a href="#">Link</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Action</a>
										</li>
										<li>
											<a href="#">Another action</a>
										</li>
										<li>
											<a href="#">Something else here</a>
										</li>
										<li class="divider"></li>
										<li class="nav-header">
											Nav header
										</li>
										<li>
											<a href="#">Separated link</a>
										</li>
										<li>
											<a href="#">One more separated link</a>
										</li>
									</ul>
								</li>
							</ul>

							<div class="right">
								<ul class="nav">

									<li class="divider-vertical"></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li>
												<a href="#">Action</a>
											</li>
											<li>
												<a href="#">Another action</a>
											</li>
											<li>
												<a href="#">Something else here</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#">Separated link</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="right">
								<button href="#" class="btn btn-small btn-info">
									Link
								</button>
							</div>
							<div class="right">
								<form class="navbar-search pull-right" action="">
									<input type="text" class="search-query span2" placeholder="Search">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /navbar-inner -->
		</div><!-- /navbar -->
		<div class="row container">
			<div class="col col_16 nav_title">
				<ul class="nav nav-pills">
					<li class="active">
						<a href="#">Popular</a>
					</li>
					<li>
						<a href="#">recommendation</a>
					</li>
					<li>
						<a href="#">Follow</a>
					</li>
				</ul>
			</div>

		</div><!--
			<div class="page-header">
			<h3>`get header`</h3>
			</div> -->
 
		<div class="row container">
			 

		</div>

		<footer>
			<div class="row">
				<div class="col col_16">
					fjdslfjsdl积分电流声开放的；是
				</div>
			</div><div class="clear"></div>

		</footer>
	</body>
</html>
